.App{
  text-align: center;
}

.header{
  display: inline-block;
  padding:10px;
}



p{
  padding: 10px;
}
.Head{
  border-radius:5px;
  box-shadow :0 2px 5px rgb(63, 62, 62);
  padding: 10px;
}
.card-text{
  text-align: left;
}

.card-footer{
  text-align: left;
  border-radius:5px;
  box-shadow :0 2px 5px #ccc;
}



.headerblog{
  position: fixed;
  left: 0;
  
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  text-align: center;
}

@media(min-width:992px){
  .BlogCard{
    width: 30%;
    float: left;
  }
}

